<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %> 
  </head>
  <body>
    <%- include('../partials/header'); %> 

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1><%= lang == 'fr' ? 'Crédits' : 'Credits' %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><%= lang == 'fr' ? 'Cet outil utilise la superbe' : 'This tool use the amazing' %> <a href="https://db.ygoprodeck.com/api-guide/"><%= lang == 'fr' ? 'API ygoprodeck.com' : 'ygoprodeck.com API' %></a> <%= lang == 'fr' ? 'pour récupérer les images des cartes' : 'to get all required images.' %></p>
                <p><%= lang == 'fr' ? 'Cet outil est totalement gratuit, mais s\'il t\'a aidé à devenir le maître du jeu, n\'hésites pas à m\'offrir un chocolat chaud !' : 'This tool is totaly free but if it helped you to become the master of the game and, feel free to buy me a coffe or chocolate !' %></p>
                <a href="https://www.buymeacoffee.com/BoBobby"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=BoBobby&button_colour=FFDD00&font_colour=000000&font_family=Poppins&outline_colour=000000&coffee_colour=ffffff"></a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>