<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head');  %> 
  </head>
  <body>
    <%- include('../partials/header');  %> 

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <% if (success) { %>
                  <h1>Well done!</h1>
                <% } else { %>
                  <h1>Something went wrong :/</h1>
                <% } %> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <% if (success) { %>
                <p>Everything went well! All you have to do now is download and print your <a href="<%= filename %>">proxies PDF file.</a></p>
                <p>Be careful, the link will expire in a few hours and you will have to start the procedure again if you have not saved your file!</p>
                <p> <a href="<%= filename %>" target="_blank" rel="noopener noreferrer"><%= filename %></a></p>
                <p class="mt-4">Click on <a href="/">this link</a> to make a new proxies file.</p>
              <% } else { %>
                <p>It appears that an error occurred while sending your YDK.  It is possible that your YDK is incorrect or exceeds the maximum size allowed (2MB).</p>
                <p>Please try again after checking that everything is correct.</p>
                <%- include('../partials/form') %>
                <% if (error.length > 0) { %>
                  <%= error %> 
                <% } %>
              <% } %>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer');  %> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>